.photo-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  gap: 20px 17px;
}

