.profile__text {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 26px;
}

@media screen and (max-width: 910px) {
  .profile__text {
    padding-top: 22px;
    padding-bottom: 36px;
    align-items: center;
  }
}
