.popup__save-button {
    padding: 0;
    max-width: 358px;
    min-height: 50px;
    border: 1px solid #000;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    transition: opacity .4s linear;
    margin-top: 18px;
    text-align: center;
}

.popup__save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .popup__save-button {
        max-width: 238px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
    }
  }