.popup__field {
    max-width: 358px;
    width: 100%;
    padding-bottom: 13px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000;
    border: none;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 767px) {
    .popup__field {
      max-width: 238px; 
      }
  }